@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background: url(./bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: rgb(255, 255, 255, .25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 60vw;
}

h1 {
    text-shadow: 4px 4px 4px navy;
    color: goldenrod;
    font-size: 64px;
}

.buttons {
    margin-block: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    display: flex;
}

button:hover {
    opacity: .75;
}

#grass {
    background-color: rgb(0, 128, 0, .5);
}

#fire {
    background-color: rgb(255, 0, 0, .5);
}

#water {
    background-color: rgb(0, 0, 255, .5);
}

img {
    scale: 2;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.result {
    color: transparent;
}

.playerScore span {
    color: rgb(20, 56, 219);
}

.machineScore span {
    color: rgb(223, 18, 195);
}

@media (orientation: portrait) {
    .container {
        width: 100vw;
        height: 75vh;
        justify-content: space-evenly;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .container {
        height: 100vh;
    }
    
    h1 {
        font-size: 10vw;
    }
    
    .buttons {
        margin-block: 15px;
        gap: 20px;
        flex-direction: column;
    }

    p {
        text-align: center;
        margin-bottom: unset;
        font-size: 5vw;
    }
}